/* stylesheets/view.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #CDCDCD;
    background: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: #333;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th, .user-table td {
    border: 1px solid #CDCDCD;
    padding: 10px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.delete-button {
    color: #e74c3c;
    text-decoration: none;
    cursor: pointer;
}

.delete-button:hover {
    text-decoration: underline;
}
.back-button {
    display: inline-block;
    margin-bottom: 20px;
    color: #3498db;
    text-decoration: none;
    font-size: 16px;
}


.back-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #3498db; /* Add border */
    border-radius: 5px; /* Optional: Add border radius for a rounded appearance */
    color: #3498db;
    text-decoration: none;
    font-size: 16px;
}

.back-button:hover {
    text-decoration: underline;
}
