<!-- admin_dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/stylesheets/admin_dashboard.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="container">
        <h2>Welcome, Admin!</h2>
        <div>
            <a href="#createUserForm">Create User</a>
            <a href="/user/view" class="view-button">View</a>
            <a href="/admin/logout">Logout</a>
            
            <!-- Add a link for user login page -->
            <a href="/user/login">User Login</a>
        </div>

        <div id="createUserForm" class="hidden">
            <h3>Create User</h3>
            <form action="/admin/create-user" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <!-- Add other user fields as needed -->

                <button type="submit">Create User</button>
            </form>
            <a href="/admin/dashboard">Back to Dashboard</a>
        </div>

        <div>
            <h3>View Users</h3>
           
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.username %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        // Toggle visibility of the create user form
        document.addEventListener('DOMContentLoaded', () => {
            const createUserForm = document.getElementById('createUserForm');
            const createLink = document.querySelector('div a[href="#createUserForm"]');
            
            createLink.addEventListener('click', (event) => {
                event.preventDefault();
                createUserForm.classList.toggle('hidden');
            });
        });
    </script>
</body>
</html>
