<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/user_login.css">
  
  <title>User Login</title>
</head>

<body>
  <div class="group-11385">
    <!-- User Login -->
    <div class="user-login">
      <h2>User Login</h2>
    </div>

    <!-- Rectangle 3 -->
    <div class="rectangle-3">
      <form action="/user/login" method="post">
        <!-- email -->
        <div class="email">
          <label for="username">User ID:</label>
          <input type="text" id="username" name="username" required>
        </div>

        <!-- Rectangle 6 for User ID -->
        <div class="rectangle-6">
          <!-- User ID -->
          <div class="user-id">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
          </div>
        </div>

        <!-- Rectangle 6 for Password -->
        <div class="rectangle-6">
          <!-- Password -->
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
